projects/10 Day - Travel Website/desert_ride.mp4
projects/10 Day - Travel Website/intro_sand.mp4
projects/10 Day - Travel Website/man_hiking.mp4
projects/10 Day - Travel Website/man_looking.mp4
projects/10 Day - Travel Website/zigzag.mp4
