*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    height: 100vh;
    background-color: #7b9e87;
    color: #212121;

    position: relative;
}

h3{ line-height: 1.1; }

input{
    outline: none;
    border: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #0370ea;
}

.login-box{
    width: 700px;
    max-width: 80%;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px #528262, 0 0 15px #7fa98d;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box .login-form{
    width: 60%;
    padding: 5%;
}

.login-box .top{
    margin-bottom: 45px;
}

.login-box .top h3{
    margin-bottom: 15px;
    font-size: 25px;
    color: #ccc;
}

.login-box .top h3 span{
    text-transform: uppercase;
    color: #212121;
}
.login-box .top p{
    font-size: 17px;
    color: #333;
}

.login-box form i{
    font-size: 20px;
    width: 10%;
    color: #ccc;
}

.login-box form .mail input, .login-box form .password input{
    width: 88%;
    max-width: 100%;
    padding: 10px 5px;
    color: #111;
    border-bottom: 1px solid #212121;
}
.login-box form .mail input{ margin-bottom: 15px; }

.login-box form .action{
    text-align: right;
    margin-top: 25px;
}

.login-box form .action input{
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #90cbf5;
    color: #fff;
    transition: 0.3s background;
}

.login-box form .action input:hover{
    background-color: #0370ea;
}

.login-box .footer { margin-top: 45px; }

.login-box .footer a:hover{
    text-decoration: underline;
}

.login-box .placeholder-img{
    width: 40%;
    height: 100%;
    background-color: #52a262;
    background-image: url('https://picsum.photos/1600/1600');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    border-radius: 0 8px 8px 0;
}


@media screen and (max-width: 700px) {
    .login-box{
        height: 600px;
        flex-direction: column-reverse;
    }
    .login-box .login-form{
        width: 100%;
        height: 70%;
    }

    .login-box .placeholder-img{
        width: 100%;
        height: 30%;

        border-radius: 8px 8px 0 0;
    }

    .login-box footer{ margin-top: 30px; }
}