* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#111317 50%, #675afe 50%);
}

.wrapper {
    display: flex;
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.wrapper h2 {
    color: #675afe;
    font-size: 24px;
}

.wrapper .logos {
    margin-left: 15px;
}

.logos img {
    opacity: .3;
    margin: 0 7px;
    transition: opacity 0.5s ease;
}